@media (max-width: 575.98px) {
    .sec1{
        padding:  0 30px;
        display: flex;
        justify-content: center;
        position: fixed;
    }
    nav{
        display: none;
    }
    .login_up{
        width: 100%;
        justify-content: space-around;
    }
    .navbar{
        padding: 0;
    }
}